body {
  padding-top: 54px;
  
  background-image: url('../backgrounds/main.png');
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			background-color: #999;
}

body#racers {
  background-image: url('../backgrounds/racers.png');
}

body#ricochet {
  background-image: url('../backgrounds/ricochet.png');
}

body#zibulon {
  background-image: url('../backgrounds/zibulon.png');
}

body#zibulon1 {
  background-image: url('../backgrounds/zibulon1.png');
}

body#planetjumper {
  background-image: url('../backgrounds/planetjumper.png');
}

body#ogelisland {
  background-image: url('../backgrounds/ogelisland.png');
}

body#piggame {
  background-image: url('../backgrounds/piggame.png');
}

body#washedashore {
  background-image: url('../backgrounds/washedashore.png');
}

body#frost {
  background-image: url('../backgrounds/frost.png');
}

body#deathmatch {
  background-image: url('../backgrounds/deathmatch.png');
}

body#shooter {
  background-image: url('../backgrounds/shooter.png');
}

body#artwork {
  background-image: url('../backgrounds/artwork.png');
}

body#contact {
  background-image: url('../backgrounds/contact.png');
}

@media (min-width: 992px) {
  body {
    padding-top: 0px;
  }
}

.portfolio-item {
  margin-bottom: 15px;
}

.pagination {
  margin-bottom: 30px;
}

.img-blurry {
-moz-box-shadow: 0 0 5px 5px #888;
-webkit-box-shadow: 0 0 5px 5px#888;
box-shadow: 0 0 5px 5px #888;
}

.droppy {
	 text-shadow: 1.3px 1.3px #404040;
}

.textbox 
{
  width: 100%;
  float: left;
  overflow: hidden;
  background-color: hsla(180, 5%, 70%, 0.5);
  border: 2px solid hsl(0, 0%, 30%);
  border-radius: 4px;
  padding: 12px;
}

.fatimageoutline
{
  background: hsl(0, 0%, 30%);
  border: 2px solid hsl(0, 0%, 30%);
  border-radius: 4px;
}

.bottom-margin
{ 
  margin-bottom:-15px;
}

.bottom-margin-small
{ 
  margin-bottom:-10px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}